h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-variant: small-caps;
}

p {
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 1px 5px grey;
}